@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

.containerro {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 5px 0;
  z-index: 1000;
}

#header .header {
  min-height: 8vh;
}

#header .header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 5px;
}

#header .header .nav-bar .brand img {
  max-width: 125px;
}

#header .header .nav-bar .nav-list ul {
  position: absolute;
  background-color: rgba(31, 30, 30, 0.9);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: 0.8s ease left;
  transition: 0.8s ease left;
}

#header .header .nav-bar .nav-list ul.active {
  left: 0;
}

#header .header .nav-bar .nav-list ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 0px;
}

#header .header .nav-bar .nav-list ul li a {
  font-size: 1.7rem;
  font-weight: 600;
  color: lightblue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

#header .header .nav-bar .nav-list ul li a:hover {
  color: hover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header .header .nav-bar .nav-list ul #sub-container {
  position: relative;
}

#header .header .nav-bar .nav-list ul #sub-container:hover #submenu {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  background-color: rgba(31, 30, 30, 0.9);
  top: 90%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  z-index: 1;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

#header .header .nav-bar .nav-list ul #sub-container:hover #submenu li {
  list-style: none;
  display: inline-block;
}

#header .header .nav-bar .nav-list ul #sub-container:hover #submenu li:hover {
  width: 100%;
  background-color: lightblue;
  color: white;
}

#header .header .nav-bar .nav-list ul #sub-container:hover #submenu li:hover a {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

#header .header .nav-bar .nav-list ul #sub-container:hover #submenu li a {
  font-size: 1.2rem;
  color: lightblue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#header .header .nav-bar .nav-list ul #sub-container:hover #submenu li a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

#header .header .nav-bar .nav-list ul #sub-container #submenu {
  display: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#header .header .nav-bar .nav-burguer {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 3px solid #1f1e1e;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin-right: 15px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  cursor: pointer;
}

#header .header .nav-bar .nav-burguer.active {
  border: 3px solid white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#header .header .nav-bar .nav-burguer .bar {
  height: 2px;
  width: 15px;
  background-color: #1f1e1e;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#header .header .nav-bar .nav-burguer .bar.active {
  background-color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#header .header .nav-bar .nav-burguer .bar::after, #header .header .nav-bar .nav-burguer .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .header .nav-bar .nav-burguer .bar::after {
  top: 8px;
}

#header .header .nav-bar .nav-burguer .bar::before {
  bottom: 8px;
}

#header .header .nav-bar .nav-burguer .bar.active::after {
  top: 0;
  background-color: white;
}

#header .header .nav-bar .nav-burguer .bar.active::before {
  bottom: 0;
}

#boxTrucho {
  min-height: 76.65px;
  padding: 5px 0;
  width: 100%;
}

#home {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#home #boxBotones {
  width: 100%;
  height: auto;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

#home #boxBotones #leftBtn, #home #boxBotones #rightBtn {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  width: 25px;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home #boxBotones #leftBtn:hover, #home #boxBotones #rightBtn:hover {
  opacity: .9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300vw;
  margin-left: -100vw;
}

#home .home_boxes {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .home_boxes_title {
  z-index: 2;
}

#home .home_boxes_title h2 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 10px;
}

#home .home_boxes a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home_boxes a:hover {
  background-color: #0455BF;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home #mesas {
  position: relative;
  background-image: url(./img/mesas.jpg);
  background-size: cover;
  background-position: top center;
}

#home .home #mesas::after {
  content: '';
  opacity: .2;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0455BF;
}

#home .home #formularios {
  background-image: url(./img/FORMULARIOS.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}

#home .home #formularios::after {
  content: '';
  background-color: #523DF2;
  opacity: .2;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#home .home #propuestas {
  position: relative;
  background-image: url(./img/PROPUESTAS.jpg);
  background-size: cover;
  background-position: top right;
}

#home .home #propuestas::after {
  background-color: #666579;
  content: '';
  opacity: .5;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#biblioteca {
  width: 100%;
  background-color: #0455BF;
  padding: 40px 0;
}

#biblioteca_title {
  max-width: 1200px;
  margin: 10px auto;
  padding: 33px 0;
  margin-top: 15px;
}

#biblioteca_title h2 {
  display: inline-block;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  margin: 0 8px;
}

#biblioteca .biblioteca {
  margin: 0 auto;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#biblioteca .biblioteca_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  position: relative;
}

#biblioteca .biblioteca_box_single {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
}

#biblioteca .biblioteca_box_single--title {
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#biblioteca .biblioteca_box_single--title::before {
  position: absolute;
  content: '+';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  font-size: 4rem;
  font-weight: 400;
  color: #523DF2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#biblioteca .biblioteca_box_single--content {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  overflow: hidden;
  height: 0px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#biblioteca .biblioteca_box_single--content ul {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#biblioteca .biblioteca_box_single--content ul li {
  width: 100%;
  list-style: none;
  padding: 15px 0;
}

#biblioteca .biblioteca_box_single--content ul li a {
  color: #523DF2;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-left: 5px;
  width: 100%;
}

#biblioteca .biblioteca_box_single--content ul li:hover {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  color: white;
}

#biblioteca .biblioteca_box_single--content ul li:hover a {
  color: white;
}

#biblioteca .biblioteca_box_single.active .biblioteca_box_single--title::before {
  content: '-';
  color: #c21717;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#biblioteca .biblioteca_box_single.active .biblioteca_box_single--content {
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#videoteca {
  width: 100%;
  overflow: hidden;
}

#videoteca .videoteca {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#videoteca .videoteca #videoteca_slider {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

#videoteca .videoteca #videoteca_slider ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#videoteca .videoteca #videoteca_slider ul li {
  margin: 0 10px;
}

#ayudantes {
  width: 100%;
  background-color: #F27EDF;
  padding: 40px 0;
}

#ayudantes .ayudantes {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 10px auto;
  padding: 33px 0;
  margin-top: 15px;
}

#ayudantes .ayudantes h2 {
  display: inline-block;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  padding: 33px 0 0 0;
  margin-top: 15px;
}

#ayudantes .ayudantes #selectBox {
  margin-top: 40px;
  max-width: 1000px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#ayudantes .ayudantes #selectBox .select {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 10px;
}

#ayudantes .ayudantes #selectBox .select option {
  display: block;
  color: black;
  font-size: 1.7rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-left: 5px;
  width: 100%;
}

#ayudantes .ayudantes #selectBox .select option.hidden {
  display: none;
}

#fotocopiadora {
  width: 100%;
  background-color: #011C40;
  padding: 40px 0;
}

#fotocopiadora .fotocopiadora {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#fotocopiadora .fotocopiadora_titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1200px;
  margin: 10px auto;
  padding: 33px 0;
  margin-top: 15px;
}

#fotocopiadora .fotocopiadora_titles h2 {
  display: inline-block;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  padding: 33px;
  margin-top: 15px;
}

#fotocopiadora .fotocopiadora_titles p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 5px;
  color: white;
  margin: 0 10px;
}

#fotocopiadora .fotocopiadora_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fotocopiadora .fotocopiadora_content span {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  margin: 0 auto;
}

#fotocopiadora .fotocopiadora_content span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#fotocopiadora .fotocopiadora_content span h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: white;
  padding: 10px 0;
  margin-left: 10px;
}

#fotocopiadora .fotocopiadora_content span a {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 700;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 10px;
}

#fotocopiadora .fotocopiadora_content span a:hover {
  background-color: #0455BF;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#fotocopiadora .fotocopiadora_content span h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: white;
  margin-left: 5px;
}

@media (min-width: 1200px) {
  #header .header .nav-bar .nav-burguer {
    display: none;
  }
  #header .header .nav-bar .nav-list {
    position: relative;
  }
  #header .header .nav-bar .nav-list ul {
    background-color: transparent;
    left: 15%;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #header .header .nav-bar .nav-list ul li {
    display: inline-block;
  }
  #header .header .nav-bar .nav-list ul li a {
    font-size: 1.5rem;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1f1e1e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    word-wrap: break-word;
  }
  #header .header .nav-bar .nav-list ul li a:hover {
    color: blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #header .header .nav-bar .nav-list ul #sub-container {
    position: relative;
  }
  #header .header .nav-bar .nav-list ul #sub-container #submenu {
    display: none;
  }
  #header .header .nav-bar .nav-list ul #sub-container:hover #submenu {
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home #boxBotones {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #home .home .home_boxes .home_boxes_title h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  #biblioteca .biblioteca #biblioteca_title {
    position: relative;
    width: 80%;
    margin: 70px 0;
  }
  #biblioteca .biblioteca #biblioteca_title h2 {
    display: inline-block;
    color: white;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    line-height: 6rem;
    position: absolute;
    left: 0;
    top: 0px;
  }
  #ayudantes .ayudantes h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
  #fotocopiadora .fotocopiadora_titles h2 {
    font-size: 6rem;
    line-height: 6rem;
    text-align: center;
  }
  #fotocopiadora .fotocopiadora_titles p {
    width: 35%;
    font-size: 2rem;
    line-height: 2rem;
  }
}
/*# sourceMappingURL=estilo.css.map */